.memos-input {
  background-color: #e8f0fe;
  border: 1px #dcdfe6 solid;
}
.memos-input input {
  background-color: transparent;
  outline-style: none;
}

.memos-input input[type="password"]::-ms-reveal{
  display:none;
}