/* 修复 tailwindcss 和 todolist 的样式冲突 */
.v-md-editor__todo-list-checkbox,
.v-md-editor__todo-list-checkbox--checked::after{
  box-sizing: initial;
}
.v-md-editor{
  box-shadow: 0 0px 0px #fff !important;
  border: 1px #eee solid;
}
.v-md-editor:hover{
  box-shadow: 0 2px 4px #eee !important;
}

.v-md-editor--edit,
.v-md-editor--editable{
  border-radius: 6px !important;
  padding: 1px;
}
.v-md-editor--edit:hover,
.v-md-editor--editable:hover{
  border: 1px green solid;
}

.v-md-editor--preview{
  border-radius: 6px !important;
}

.v-md-editor__left-area{
  border-color: RGB(243, 244, 246) !important;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px; 
}

.v-md-editor__left-area-title::after{
  border-bottom: 1px solid RGB(243, 244, 246) !important;
}

.v-md-editor--editable .v-md-editor__editor-wrapper{
  border-color: RGB(243, 244, 246) !important;
}

/* [class*=v-md-icon-]{
  color: #777 !important;
} */


.v-md-editor__toolbar{
  border-bottom: 1px solid RGB(243, 244, 246) !important;
}

/* 隐藏工具栏 */
/* .v-md-editor__toolbar {
  display: none !important;
} */

.v-md-textarea-editor pre, .v-md-textarea-editor textarea{
  padding: 20px !important;
}

/* .v-md-editor__left-area-body{
  padding: 30px 14px !important;
  min-height: 21px;
} */